<!-- table:table>thead>th>tr -->

{% extends 'base.html' %}


<h1> Hello World</h1>

{% block content %}

<dl>
    <dt>Title</dt>
    <dd>{{ movie.title }}</dd>
    <dt>Country</dt>
    <dd>{{ movie.country }}</dd>
    <dt>Country</dt>
    <dd>{{ movie.country }}</dd>
    <dt>Release Year</dt>
    <dd>{{ movie.release_year }}</dd>
    <dt>Number In Stock</dt>
    <dd>{{ movie.number_in_stock }}</dd>
    <dt>Daily Rate</dt>
    <dd>${{ movie.daily_rate }}</dd>
    <dt>date_created</dt>
    <dd>{{ movie.date_created }}</dd>


</dl>


{% endblock  %}